/* ===================== MAIN-NAV SCROLL TOGGLE ===================== */
.main-nav.hide {
  transform: translateY(-100%);
}
.main-nav.show {
  transform: translateY(0);
}

/* ===================== CENTRIRANJE SADRŽAJA ISPOD MAIN-NAV ===================== */
h1, h2,
.chart-select-container,
.chart-subselect-container,
#chart-container {
  text-align: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Globalni wrapper za padding sa leve i desne strane */
.wrapper {
    padding-left: 20px;
    padding-right: 20px;
}


.profile {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    gap: 20px;
}

.profile img {
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px #03f803;
}

.profile-text {
    flex: 1;
    text-align: left; /* <<< sada levo poravnanje */
}

.profile-text h3 {
    margin: 0 0 10px 0;
    color: #03f803;
    font-size: 1.4em;
}


.profile pre {
    white-space: pre-wrap;
    font-family: Arial, sans-serif;
    margin: 0;
}
